{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <br />
  <div class="post-footer">
    <div class="tag-list">
        {{ with .Params.tags -}}
          <ul>
            {{ range . -}}
              <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">#{{ . }}</a>
            {{ end -}}
          </ul>
        {{- end -}}
    </div>

    <div class="row">
      {{ with .NextInSection -}}
      <div class="one-half column">
        <a class="prev" href="{{ .RelPermalink }}">
          <i class="fas fa-chevron-left"></i>
          <span class="prev-text nav-default">{{ .Title }}</span>
        </a>
      </div>
      {{- end }}
      {{ with .PrevInSection -}}
      <div class="row" style="text-align:right">
        <a class="next" href="{{ .RelPermalink }}">
          <span class="next-text nav-default">{{ .Title }}</span>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
      {{- end }}
    </div>
  </div>

{{ end }}
