a {
    color : #505050;
    text-decoration : none;
}

blockquote {
    background-color: #f0f0f4;
}

.post {
    font-size : 1.8rem;
}

.post img {
    max-width: 85%;
}

.post a {
    color: #0FA0CE;
}

.post h1 {
    font-size: 4.1rem;
    padding-bottom: 1.5rem;
    border-bottom: solid 3px #d3d3d3;
}

.post h2 {
    font-size: 3.7rem;
    padding-bottom: 1.2rem;
    border-bottom: solid 0.2rem #d3d3d3;
}

.post h3 {
    font-size: 3.2rem;
    padding-left: 0.7rem;
    border-left: solid 0.2rem #d3d3d3;
}

.post h4 {
    font-size: 2.8rem;
    padding-left: 0.7rem;
    border-left: solid 0.1rem #d3d3d3;
}

.post h5 {
    font-size: 2.4rem;
}

.post h6 {
    font-size: 2rem;
}

.sns-icon {
    font-size : 2.5rem;
    padding-top: 1.7rem;
    padding-bottom: 1.2rem;
}

.logo {
    display: block;
    font-weight: bold;
    font-family: "M PLUS Rounded 1c";
}

.page-title {
    font-size: 4rem;
    font-weight: bold;
    font-family: "M PLUS Rounded 1c";
}

.post-title {
    font-weight: bold;
    font-family: "M PLUS Rounded 1c";
}

pre,
pre code {
    background-color: #f7f7fa;
    color: #42464c;
}

code {
    overflow: scroll;
}

code[data-lang] {
    background-color: inherit;
    color: inherit;
    overflow: scroll;
}

.copyright {
    margin-bottom: 3rem;
}

.footer-menu {
    margin-top: 0rem;
    margin-right: 1rem;
}

.tag {
    margin: 0.5rem;
}

.categorie {
    margin-left: 0.5rem;
}

.date {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.share-button {
    font-size: 3rem;
    text-align:center;
    margin: 3rem;
    overflow: hidden;
}

.button-icon {
    width: 4.5rem;
    height:4.7rem;
    margin:1rem;
    border-radius: 100%;
    border: solid 0.3rem;
    display:inline-block;
    letter-spacing:normal;
}
.twitter {
    border-color: #4099ff;
}
.facebook {
    border-color: #3B5998;
}
.pocket {
    border-color: #cb2027;
}

.icon-twitter {
    color: #4099ff;
}
.icon-facebook {
    color: #3B5998;
}
.icon-pocket {
    color: #cb2027;
}
