.post {
    font-size : 1.6rem;
    font-family: "M PLUS 1p";
}

img {
    max-width: 100%;
}

a {
    color : #494949;
    text-decoration : none;
}

.post a {
    color: #0FA0CE;
}

.sns-icon {
    font-size : 2.5rem;
}

.logo {
    display: block;
    font-weight: bold;
    font-family: "M PLUS Rounded 1c";
}

.page-title {
    font-weight: bold;
}

pre,
pre code {
    background-color: #f7f7fa;
    color: #42464c;
}

code[data-lang] {
    background-color: inherit;
    color: inherit;
}
