a {
    color : #494949;
    text-decoration : none;
}

.post {
    font-size : 1.8rem;
}

.post img {
    max-width: 85%;
}

.post a {
    color: #0FA0CE;
}

.post h1 {
    font-size: 4.1rem;
}

.post h2 {
    font-size: 3.7rem;
}

.post h3 {
    font-size: 3.4rem;
}

.sns-icon {
    font-size : 2.5rem;
    padding-top: 1.7rem;
    padding-bottom: 1.2rem;
}

.logo {
    display: block;
    font-weight: bold;
    font-family: "M PLUS Rounded 1c";
}

.page-title {
    font-weight: bold;
    font-family: "M PLUS Rounded 1c";
}

pre,
pre code {
    background-color: #f7f7fa;
    color: #42464c;
}

code {
    overflow: scroll;
}

code[data-lang] {
    background-color: inherit;
    color: inherit;
    overflow: scroll;
}

.copyright {
    margin-bottom: 3rem;
}

.footer-menu {
    margin-top: 0rem;
    margin-right: 1rem;
}

.tag {
    margin: 0.5rem;
}

.date {
    margin-top: 2rem;
    margin-bottom: 2rem;
}