@media (min-width: 600px) {
    :root {
      font-size: 10px;
    }
}

@media (max-width: 599px) {
    :root {
      font-size: 9px;
    }

    .container {
        padding: 0 2px;
    }
    .post {
        font-size : 2.2rem;
    }

    .post img {
        max-width: 100%;
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    font-size : 1.9rem;
    font-family: "游ゴシック体","游ゴシック Medium","Yu Gothic Medium","游ゴシック","Yu Gothic","メイリオ";
}

a {
    color : #505050;
    text-decoration : none;
}

ul {
    margin: 0px;
    padding: 0px;
}

blockquote {
    background-color: #f0f0f4;
}

.post {
    font-size : 1.9rem;
}

.post img {
    max-width: 85%;
}

.post a {
    color: #008eb9;
}

.post h1 {
    font-size: 3.6rem;
    padding-left: 0.7rem;
    padding-bottom: 1.5rem;
    border-bottom: solid 0.3rem #d3d3d3;
    border-left: solid 0.3rem #d3d3d3;
}

.post h2 {
    font-size: 3.3rem;
    padding-left: 0.7rem;
    padding-bottom: 1.2rem;
    border-bottom: solid 0.2rem #d3d3d3;
    border-left: solid 0.2rem #d3d3d3;
}

.post h3 {
    font-size: 2.9rem;
    padding-left: 0.7rem;
    border-left: solid 0.2rem #d3d3d3;
}

.post h4 {
    font-size: 2.5rem;
    padding-left: 0.7rem;
    border-left: solid 0.1rem #d3d3d3;
}

.post h5 {
    font-size: 2.2rem;
}

.post h6 {
    font-size: 2rem;
}

.sns-icon {
    font-size : 2.5rem;
    padding-top: 1.7rem;
    padding-bottom: 1.2rem;
}

.logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 0;
    font-size: 4rem;
    display: block;
    font-weight: bold;
}

.page-title {
    font-size: 3.3rem;
    font-weight: bold;
}

.post-title {
    font-weight: bold;
}

pre,
pre code {
    background-color: #f7f7fa;
    color: #42464c;
}

code {
    overflow: scroll;
}

code[data-lang] {
    background-color: inherit;
    color: inherit;
    overflow: scroll;
}

.copyright {
    margin-bottom: 3rem;
}

.footer-menu {
    margin-top: 0rem;
    margin-right: 1rem;
}

.tag {
    margin: 0.5rem;
}

.categorie {
    margin-left: 0.5rem;
}

.date {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.share-button {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    text-align:left;
    overflow: hidden;
}

.button-icon {
    width: 4rem;
    height:4rem;
    border-radius: 100%;
    display:inline-block;
    letter-spacing:normal;
    text-align:center;
}
.twitter {
    background-color: #4099ff;
}
.facebook {
    background-color: #3B5998;
}
.pocket {
    background-color: #cb2027;
}

.icon-twitter {
    color: #ffffff;
}
.icon-facebook {
    color: #ffffff;
}
.icon-pocket {
    color: #ffffff;
}
